<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Test App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/add.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.0.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Add Test</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask Test App</h3>
      </div>
 
      <div>
        <!--<h2>Add test record:</h2>-->
        <form>
            
            <div>
                <label>Test Id:</label>
                <input type="text" name="inputId" id="inputId" class="form-control" placeholder="Test Id"  size="10" required autofocus>
            </div>

            <div>
                <label>Test Name:</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Test Name" required>
            </div>
            <!--input type="number" name="inputRes" id="inputRes" class="form-control" placeholder="Test Result" value="-1" required-->
            
            <div>
                <label>Test Result:</label>
                <input list="results" name="inputRes" id="inputRes" class="form-control" placeholder="Test Result" required>
                <datalist id="results">
                    <option value="Not Started">
                    <option value="Passed">
                    <option value="Failed">
                    <option value="Error">
                </datalist>
            </div>
    
            <div>
                <label>Test Description:</label>
                <textarea name="areaDescription" cols="80" rows="5" placeholder="Test Description"></textarea>
            </div>
            
            <div>
                <label>Test Failure / Error Description:</label>
                <textarea name="areaError" cols="80" rows="5" placeholder="Test Failure / Error Description"></textarea>
            </div>

            <div class="form-group">
                <button id="btnAdd" name="btnAdd"  class="btn btn-lg btn-success" type="button">Add Test</button>
                <button id="btnCancel" name="btnCancel" class="btn btn-lg btn-success" type="button" onclick="window.location='/';" >Cancel</button>
            </div>
            
        </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>

      <script>
        $(function() {
                $('#btnAdd').click(function() {

                    $.ajax({
                        url: '/add',
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                            window.location.href = "/";
                        },
                        error: function(error) {
                            window.location.href = "/";
                        }
                    });
                });
              });
      </script>
  </body>
</html>