@model IEnumerable<UImvc.Models.ResultsViewModel>
@{
    ViewData["Title"] = "Admin Index";
}

<h1>Results Administration</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">TestId</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Result in Model)
        {
            <tr>
                <td>@Result.Id</td>
                <td>@Result.Name</td>
                <td>
                    Here will be onclick actions
                </td>
            </tr>
        }
    </tbody>
</table>

<span id="spanError" class="text-danger"></span><br />